[Unit]
Description=lubimovka-frontend
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5
User=root

WorkingDirectory=/usr/local/src/develop/

# Remove old containers and networks
ExecStartPre=/usr/local/bin/docker-compose -f lubimovka_frontend_develop_deploy.yml --env-file /usr/local/src/develop/.github_vars stop

# Compose up
ExecStart=/usr/local/bin/docker-compose -f lubimovka_frontend_develop_deploy.yml --env-file /usr/local/src/develop/.github_vars up

# Compose down
ExecStop=/usr/local/bin/docker-compose -f lubimovka_frontend_develop_deploy.yml --env-file /usr/local/src/develop/.github_vars stop

[Install]
WantedBy=multi-user.target