{% extends "admin/change_form.html" %}
{% load i18n %}
{% block submit_buttons_bottom %}
    <div class="submit-row">
        <strong> текущий статус проекта: {{ original.status.get_upper_name }} </strong>
        {% for status in statuses %}
            {% if not status.protected or perms.articles.can_project_publish %}
                <a href="{% url 'project_status' object_pk=original.pk status_pk=status.pk %}">
                    <input type="button" value="{% trans status.button_name %}" name="project_status" />
                </a>
            {% endif %}
        {% endfor %}
    </div>
    {{ block.super }}
{% endblock %}
