/* height for autocomplete window */
.select2-results__options {
   max-height: 450px !important;
}
/* resize button for preview page */
a.button {
   padding: 10px 14px;
   background: #759e4a;
}
/* change button color */
a.button:hover {
    background: #435b2a;
}
