{% extends "admin/change_form.html" %}
{% load i18n %}
{% block submit_buttons_bottom %}
    <div class="submit-row">
        <strong> текущий статус блога: {{ original.get_status_display }} </strong>
        {% for status, info in statuses.items %}
            {% if not info.1 or perms.articles.can_blog_publish %}
                <a href="{% url 'blog_status' object_pk=original.pk status=status %}">
                    <input type="button" value="{% trans info.0 %}" name="blog_status" />
                </a>
            {% endif %}
        {% endfor %}
    </div>
    {{ block.super }}
{% endblock %}
