.disabled-field {
    pointer-events:none;
    touch-action:none;
    background:#eee;
}

/* for select2 elements */
.disabled-field > span {
    background:#eee;
}

.disabled-button {
    pointer-events:none;
    touch-action:none;
    filter:grayscale(100%)
}

.related-widget-wrapper-link > img {
    height:16px
}

.hiden {
    display:none
}
