.disabled-field {
    pointer-events:none;
    touch-action:none;
    background:#eee;
}

/* for select2 elements */
.disabled-field > span {
    background:#eee;
}

.disabled-button {
    pointer-events:none;
    touch-action:none;
    filter:grayscale(100%)
}

.related-widget-wrapper-link > img {
    height:16px
}

.cke_combopanel{
    width: 250px !important;
}

.cke_combopanel__styles {
    width: 350px !important;
}
