name: Python safety check

on:
  pull_request:
    branches:
      - develop
      - master

env:
  if: github.ref == 'refs/heads/develop'
  DEP_PATH: requirements/prod.txt

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out master
        uses: actions/checkout@master

      - name: Security vulnerabilities scan
        uses: aufdenpunkt/python-safety-check@master
