name: Deploy your branch for testing

concurrency:
  group: test_deploy
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Please, enter your name and surname'
        default: 'Имя Фамилия'
        required: true

env:
  REGISTRY: ghcr.io
  REPOSITORY_NAME: lubimovka_backend

defaults:
  run:
    working-directory: .

jobs:
  tests:
      name: Run tests
      runs-on: ubuntu-latest
      steps:
      -
        name: Check out the repo
        uses: actions/checkout@v2
      -
        name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      -
        name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/dev.txt
      -
        name: Test with pytest
        run: pytest
  build-and-push-image-to-github-packages:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    needs: tests
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      - name: Build image
        run: docker build . --file Dockerfile --tag $REPOSITORY_NAME --label "runnumber=${GITHUB_RUN_ID}"
      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Push image
        run: |
          IMAGE_ID=$REGISTRY/${{ github.repository_owner }}/$REPOSITORY_NAME

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # Use Docker `latest` tag convention
          [ "$VERSION" == "master" ] && VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag $REPOSITORY_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
  deploy_testing_branch:
    name: Deploy branch for testing in the server
    runs-on: ubuntu-latest
    environment:
      name: test_deploy
    needs: build-and-push-image-to-github-packages
    steps:
      - name: Getting docker image name and tag, write in environment
        run: |
          IMAGE=$REGISTRY/${{ github.repository_owner }}/$REPOSITORY_NAME
          IMAGE=$(echo $IMAGE | tr '[A-Z]' '[a-z]')
          IMAGE_TAG=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && IMAGE_TAG=$(echo $IMAGE_TAG | sed -e 's/^v//')

          echo IMAGE=$IMAGE >> $GITHUB_ENV
          echo IMAGE_TAG=$IMAGE_TAG >> $GITHUB_ENV
      -
        name: executing remote ssh commands to deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |
            cd ${{ github.event.repository.name }}/infra_deploy
            ./check_env_script.sh .env-test

            # Github package name: writing in .env to read in docker-compose script and nginx scripts
            ./check_env_script.sh .github_vars
            echo "IMAGE_BACK=${{ env.IMAGE }}" >> .github_vars
            echo "IMAGE_BACK_TAG=${{ env.IMAGE_TAG }}" >> .github_vars
            echo "IMAGE_FRONT=${{ secrets.IMAGE_FRONT }}" >> .github_vars
            echo "IMAGE_FRONT_TAG=${{ secrets.IMAGE_FRONT_TAG }}" >> .github_vars
            echo "FRONT_BASE_URL=${{ secrets.FRONT_BASE_URL }}" >> .github_vars
            echo "TEST_API_BASE_URL=${{ secrets.TEST_API_BASE_URL }}" >> .github_vars
            echo "DEV_SUBDOMAIN=${{ secrets.DEV_SUBDOMAIN }}" >> .github_vars
            echo "TEST_SUBDOMAIN=${{ secrets.TEST_SUBDOMAIN }}" >> .github_vars

            # Export all variables from .github_vars
            set -a
            source .github_vars

            # PostgreSQL variables: reading and writing Github secrets in .env-test
            echo POSTGRES_HOST=${{ secrets.POSTGRES_HOST }} >> .env-test
            echo POSTGRES_PORT=${{ secrets.POSTGRES_PORT }} >> .env-test
            echo POSTGRES_DB=${{ secrets.POSTGRES_DB }} >> .env-test
            echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env-test
            echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env-test

            # Django variables: reading and writing Github secrets in .env-test
            echo DJANGO_SETTINGS_MODULE=${{ secrets.DJANGO_SETTINGS_MODULE }} >> .env-test
            echo DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }} >> .env-test
            echo DJANGO_ALLOWED_HOSTS=${{ secrets.DJANGO_ALLOWED_HOSTS }} >> .env-test

            echo DJANGO_SUPERUSER_USERNAME=${{ secrets.DJANGO_SUPERUSER_USERNAME }} >> .env-test
            echo DJANGO_SUPERUSER_EMAIL=${{ secrets.DJANGO_SUPERUSER_EMAIL }} >> .env-test
            echo DJANGO_SUPERUSER_PASSWORD=${{ secrets.DJANGO_SUPERUSER_PASSWORD }} >> .env-test

            echo DJANGO_EMAIL_BACKEND=${{ secrets.DJANGO_EMAIL_BACKEND }} >> .env-test
            echo DEFAULT_FROM_EMAIL=${{ secrets.DEFAULT_FROM_EMAIL }} >> .env-test
            echo SERVER_EMAIL=${{ secrets.SERVER_EMAIL }} >> .env-test
            echo MAILJET_API_KEY=${{ secrets.MAILJET_API_KEY }} >> .env-test
            echo MAILJET_SECRET_KEY=${{ secrets.MAILJET_SECRET_KEY }} >> .env-test

            # Pull docker image from github packages with tag
            docker pull ${{ env.IMAGE }}:${{ env.IMAGE_TAG }}

            # re-run docker containers
            ./docker_check.sh backend_test_deploy.yaml test

  send_message:
    name: Send message in telegram group
    runs-on: ubuntu-latest
    needs: deploy_testing_branch
    steps:
      - name: send message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_ID }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
                  Новая ветка в тестировании:
                  ${{ secrets.HUB_URL }}/${{ github.repository }}/tree/${{ github.ref_name }}

                  Тестирует - ${{ github.event.inputs.name }}

                  Сcылка на документацию в Swagger:
                  ${{ secrets.TEST_SWAGGER_URL }}

                  Панель администратора:
                  ${{ secrets.TEST_ADMIN_URL }}
