name: Check migrations

on:
  pull_request:
    branches:
      - develop
      - master

jobs:
  migrations:
    name: Check migrations
    runs-on: ubuntu-latest
    steps:
    -
      name: Check out the repo
      uses: actions/checkout@v2
    -
      name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    -
      name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/prod.txt
    -
      name: Make migrations
      run: python manage.py makemigrations --check --settings config.settings.test
