name: Testing by pytest

on:
  pull_request:
    branches:
      - develop
      - master

jobs:
  tests:
    name: Starting tests
    runs-on: ubuntu-latest
    steps:
    -
      name: Check out the repo
      uses: actions/checkout@v2
    -
      name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    -
      name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements/prod.txt
    -
      name: Running Pytest
      run: pytest
